<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Review HTML</title>
    <style type="text/css">
        body {background-color:red}
        p {color:blue}
    </style>
</head>
<body>

<script>
    document.write("Hello World!")
</script>
<h1>我爱你</h1>

    <h2>我爱你</h2>
    <hr>

    <h3>我爱你</h3>
    <h1 style="text-align:center;">居中对齐的标题</h1>
    <p>这是一个段落。</p>

    <h4>我爱你</h4>
    <h5>我爱你</h5>
    <h6>我爱你</h6>

    <font size="6">这是6号字体的文本</font>
    <p style="color:blue;margin-left:20px;">This is a paragraph.</p>
    <ul>
        <li>习草包</li>
        <li>习草包</li>
    </ul>

    <ol>
        <li>习草包</li>
        <li>习草包</li>
    </ol>
<form>
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"/></td>
        </tr>

        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td><input type="radio" name="sex" value="male">Male</td><br>
            <td><input type="radio" name="sex" value="female">Female</td>
        </tr>
        <tr>
            <td>爱好：</td>
            <td><input type="checkbox" name="hobby" value="打炮">打炮万岁</td>
            <td><input type="checkbox" name="hobby" value="再次打炮">打打炮万岁</td>
        </tr>

    </table>
</form>

    <form action="">
        <fieldset>
            <legend>Personal information:</legend>
            <tr>
                <td>Name: </td>
                <td><input type="text" ></td><br>
            </tr>
            <tr>
                <td>E-mail: </td>
                <td><input type="text" ></td><br>
            </tr>
            <tr>
                <td>Date of birth: </td>
                <td><input type="text" ></td><br>
            </tr>

        </fieldset>
    </form>


    <dl>
        <dt>习草包</dt>
        <dd>
            -caobao-sds
        </dd>
    </dl>
    <p>这<br>是一<br>个段<br>落</p>
<a href="http://www.letv.com">乐视</a>
<a href="http://www.google.com">Google</a>
    <a href="http://www.google.com" target="_blank">Google</a>

    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fj7az23tgnj31kw0y6wlh.jpg" width="160" height="90">

</body>
</html>