<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meijunjie.web.dao.SpitterMapper">

    <!--<resultMap id="spitterMap" type="Spitter">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="username" column="username"/>-->
        <!--<result property="password" column="password"/>-->
        <!--<result property="fullname" column="fullname"/>-->
        <!--<result property="email" column="email"/>-->
        <!--<result property="updateByEmail" column="update_by_email"/>-->
        <!--<association property="spittles" column="spitter_id" javaType="Spittle">-->
            <!--<id property="id" column="id"/>-->
            <!--<result-->
        <!--</association>-->
    <!--</resultMap>-->

    <select id="getSpittlesForSpitter" parameterType="Spitter" resultType="Spittle">
        select * FROM spittle where spitter_id=#{id}
    </select>
"
</mapper>